.button-primary {
  cursor: pointer;
  display: flex;
  padding: 16px 32px;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  width: fit-content;
  border: none;
  border-radius: 5px;
}

.button-red-outline {
  cursor: pointer;
  display: flex;
  padding: 16px 32px;
  font-weight: 600;
  justify-content: center;
  background-color: #fff;
  align-items: center;
  width: fit-content;
  border: none;
  border-radius: 5px;
  border: 1px solid #ff5252;
  color: #ff5252;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.flex-evenly {
  display: flex;
  justify-content: space-evenly;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.w-full {
  width: 100%;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.two-col {
  display: flex;
  justify-content: center;
}

.two-col > .left-col {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.two-col > .right-col {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.text-center {
  text-align: center;
}

.line-20 {
  line-height: 20px;
}

.border-5 {
  border-radius: 5px;
}

.round {
  border-radius: 50%;
}

h1,
.heading-1 {
  font-family: var(--heading-font);
  color: var(--text-dark);
  font-size: 3rem;
  line-height: 60px;
  min-height: 160px;
  font-weight: 700;
}

.heading-1-half {
  font-family: var(--heading-font);
  color: var(--text-dark);
  font-size: 2.75rem;
  line-height: 54px;
  font-weight: 700;
}

h2,
.heading-2 {
  font-size: 2rem;
  font-family: var(--heading-font);
  font-weight: 700;
}

h4,
.heading-4 {
  font-size: 1.125rem;
  color: var(--text-gray);
  font-weight: 500;
  line-height: 20px;
}

main {
  width: 100%;
  margin: 0 auto;
  position: relative;
  background-color: inherit;
}

p {
  line-height: 24px;
  color: var(--text-gray);
  font-weight: 400;
  font-size: 0.9375rem;
}

section {
  padding: 0 96px;
  max-width: 1440px;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  section {
    padding: 0 32px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
    min-height: fit-content;
  }
  h2,
  .heading-2 {
    font-size: 1.75rem;
  }
  p {
    font-size: 0.875rem;
  }
}

@media (max-width: 650px) {
  section {
    padding: 0 16px;
  }
}
@media (max-width: 500px) {
  h1 {
    font-size: 2rem;
    line-height: 40px;
  }
}
